<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Main CSS -->
    <link type="text/css" href="./css/spaces.css" rel="stylesheet">
    <script src="./js/all.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</head>

<body>

    <header class="header-global">
        <nav id="navbar-main" class="navbar navbar-main navbar-theme-primary navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-light navbar-transparent">
            <div class="container">
                <a class="navbar-brand @@logo_classes d-md-flex" href="./main.html">
                    <img class="navbar-brand-dark common" src="./img/bus.png" height="35" alt="Logo light">
                    <img class="navbar-brand-light common" src="./img/bus.png" height="35" alt="Logo dark">

                    <h4 style="color: #ffffff;">버스 알리미</h4>
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">

                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-none d-lg-block @@cta_button_classes">
                    <a class="btn mb-2 mr-2 btn-info" style="color: #ffffff;" href="./signUp.html">회원가입</a>
                    <a class="btn mb-2 mr-2 btn-info" style="color: #ffffff;" href="./signIn.html">로그인</a>
                </div>
                <div class="d-flex d-lg-none align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                </div>
            </div>
        </nav>
    </header>