<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Main CSS -->
    <link type="text/css" href="./bootstrap/css/spaces.css" rel="stylesheet">
    <script src="./bootstrap/js/all.min.js"></script>
    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

    <header class="header-global">
        <nav id="navbar-main" class="navbar navbar-main navbar-theme-primary navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-light navbar-transparent">
            <div class="container">
                <a class="navbar-brand @@logo_classes d-md-flex" href="./main.html">
                    <img class="navbar-brand-dark common" src="./img/bus.png" height="35" alt="Logo light">
                    <img class="navbar-brand-light common" src="./img/bus.png" height="35" alt="Logo dark">

                    <h4 style="color: #ffffff;">버스 알리미</h4>
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">

                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-none d-lg-block @@cta_button_classes">
                    <a class="btn mb-2 mr-2 btn-info" style="color: #ffffff;" href="./signUp.html">회원가입</a>
                    <a class="btn mb-2 mr-2 btn-info" style="color: #ffffff;" href="./signIn.html">로그인</a>
                </div>
                <div class="d-flex d-lg-none align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                </div>
            </div>
        </nav>
    </header>


    <main>

        <div class="preloader bg-dark flex-column justify-content-center align-items-center" style="display: none;">
            <div class="position-relative">
                <img src="../assets/img/brand/light-without-letter.svg" alt="Logo loader">
                <img src="../assets/img/brand/letter.svg" class="rotate-letter" alt="Letter loader">
            </div>
        </div>
        <section class="section-header">

            <div class="container">
                <div class="row justify-content-between align-items-center text-center">
                    <div class="col-12 col-md-12 order-lg-1">

                        <form action="./search.html" method="get" class="col-12">
                            <div class="form-group">
                                <div class="input-group mb-4">
                                    <input class="form-control" placeholder="search" id="searchKeyword" type="text">
                                    <div class="input-group-append">
                                        <button type="submit" style="border: none;">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <h5>300의 대한 검색결과</h5>

                    </div>

                </div>
            </div>
        </section>


        <section class="section-header" style="padding-top: 100px">

            <div class="container mt-n7">



                <div class="d-md-flex col-md-12">

                    <div class="card border-light p-md-2 col-6">
                        <a href="#" class="d-md-flex d-flex">
                            <div class="card-body p-4">

                                <strong class="h5">300번 버스</strong> &nbsp;&nbsp;&nbsp;
                                <small>인천</small>
                                <br>
                                <br> 임학행

                            </div>


                        </a>
                        <a href="#" class="btn mb-2 mr-2 btn-outline-info text-center">상세 보기</a>
                    </div>

                    <div class="card border-light p-md-2 col-6">
                        <a href="#" class="d-md-flex d-flex">
                            <div class="card-body p-4">

                                <strong class="h5">300번 버스</strong> &nbsp;&nbsp;&nbsp;
                                <small>인천</small>
                                <br>
                                <br> 임학행

                            </div>


                        </a>
                        <a href="#" class="btn mb-2 mr-2 btn-outline-info text-center">상세 보기</a>
                    </div>




                </div>

                <div class="d-md-flex col-md-12">

                    <div class="card border-light p-md-2 col-6">
                        <a href="#" class="d-md-flex d-flex">
                            <div class="card-body p-4">

                                <strong class="h5">300번 버스</strong> &nbsp;&nbsp;&nbsp;
                                <small>인천</small>
                                <br>
                                <br> 임학행

                            </div>


                        </a>
                        <a href="#" class="btn mb-2 mr-2 btn-outline-info text-center">상세 보기</a>
                    </div>

                    <div class="card border-light p-md-2 col-6">
                        <a href="#" class="d-md-flex d-flex">
                            <div class="card-body p-4">

                                <strong class="h5">300번 버스</strong> &nbsp;&nbsp;&nbsp;
                                <small>인천</small>
                                <br>
                                <br> 임학행

                            </div>


                        </a>
                        <a href="#" class="btn mb-2 mr-2 btn-outline-info text-center">상세 보기</a>
                    </div>




                </div>



            </div>



        </section>

    </main>



    <footer class="footer py-6 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 mb-3 mb-xl-0">
                    <img src="../assets/img/brand/light.svg" height="30" class="mb-3" alt="Spaces logo">
                    <p>Premium Bootstrap Directory Listing Template</p>
                </div>
                <div class="col-6 col-xl-2 mb-5 mb-xl-0">
                    <span class="h5">Themesberg</span>
                    <ul class="footer-links mt-2">
                        <li><a target="_blank" href="https://themesberg.com/blog">Blog</a></li>
                        <li><a target="_blank" href="https://themesberg.com/products">Products</a></li>
                        <li><a target="_blank" href="https://themesberg.com/about">About Us</a></li>
                        <li><a target="_blank" href="https://themesberg.com/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-xl-3 mb-5 mb-xl-0">
                    <span class="h5">Other</span>
                    <ul class="footer-links mt-2">
                        <li><a href="https://themesberg.com/docs/spaces/getting-started/overview/">Documentation <span class="badge badge-sm badge-secondary ml-2">v3.0</span></a></li>
                        <li><a href="https://themesberg.com/docs/spaces/getting-started/changelog/">Changelog</a></li>
                        <li><a target="_blank" href="https://themesberg.com/contact">Support</a></li>
                        <li><a target="_blank" href="https://themesberg.com/licensing">License</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-xl-4 mb-5 mb-xl-0">
                    <span class="h5">Get the app</span>
                    <p class="text-muted font-small mt-2">It's easy. Just select your device.</p>
                    <a href="#" class="btn btn-sm btn-white mb-xl-0 mr-2">
                        <span class="d-flex align-items-center">
                            <span class="icon icon-brand mr-2"><span class="fab fa-apple"></span></span>
                        <span class="d-inline-block text-left">
                                <small class="font-weight-normal d-block">Available on</small> App Store
                            </span>
                        </span>
                    </a>
                    <a href="#" class="btn btn-sm btn-white">
                        <span class="icon icon-brand mr-2"><span class="fab fa-google-play"></span></span>
                        <span class="d-inline-block text-left">
                            <small class="font-weight-normal d-block">Available on</small> Google Play
                        </span>
                    </a>
                </div>
            </div>
            <hr class="my-3 my-lg-5">
            <div class="row">
                <div class="col mb-md-0">
                    <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center">
                        <img src="../assets/img/themesberg.svg" height="25" class="mb-3" alt="Themesberg Logo">
                    </a>
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="font-weight-normal font-small mb-0">Copyright © Themesberg
                            <span class="current-year">2023</span>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>