<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <!-- Main CSS -->
    <link type="text/css" href="./bootstrap/css/spaces.css" rel="stylesheet" />
    <script src="./bootstrap/js/all.min.js"></script>
    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</head>
<bodys>
    <header class="header-global">
        <nav id="navbar-main" class="navbar navbar-main navbar-theme-primary navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-light navbar-transparent">
            <div class="container">
                <a class="navbar-brand @@logo_classes row" href="../index.html">
                    <img class="navbar-brand-dark common" src="../assets/img/brand/light.svg" height="35" alt="Logo light" />
                    <img class="navbar-brand-light common" src="../assets/img/brand/dark.svg" height="35" alt="Logo dark" />
                </a>
                <h4>버스 알리미</h4>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block @@cta_button_classes">
                    <button class="btn mb-2 mr-2 btn-info" type="button">
              회원가입
            </button>
                    <button class="btn mb-2 mr-2 btn-info" type="button">로그인</button>
                </div>
                <div class="d-flex d-lg-none align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="preloader bg-dark flex-column justify-content-center align-items-center" style="display: none">
            <div class="position-relative">
                <img src="../assets/img/brand/light-without-letter.svg" alt="Logo loader" />
                <img src="../assets/img/brand/letter.svg" class="rotate-letter" alt="Letter loader" />
            </div>
        </div>
        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="card border-light p-4 p-lg-5">
                    <!-- 장소 폼 -->
                    <form autocomplete="off" method="get" action="#">
                        <div class="row">
                            <div class="col-12 my-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group form-group-lg mb-lg-0">
                                            <label for="Title"><h2>Title</h2></label>
                                            <div class="input-group">
                                                <input id="Title" type="text" class="form-control autocomplete" placeholder="이름을 입력하세요." />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 my-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group form-group-lg mb-lg-0">
                                            <label for="start"><h2>출발지</h2></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                              <span class="fas fa-map-marker-alt"> </span>
                                                    </span>
                                                </div>
                                                <input id="start" type="text" class="form-control autocomplete" placeholder="임학역" tabindex="1" required="" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 my-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group form-group-lg mb-lg-0">
                                            <label for="start"><h2>버스</h2></label>
                                            <div class="input-group">
                                                <input id="bus" type="text" class="form-control autocomplete" placeholder="66번" tabindex="1" required="" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 my-5">
                                <div class="row">
                                    <div class="col">
                                        <h2>알림</h2>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="alarm" onchange="changeAlarm()" />
                                            <label class="custom-control-label" for="alarm" id="alarmResult">알림 꺼짐</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 my-5" id="time" style="display: none">
                  <div class="row">
                    <div class="col">
                      <label for="exampleFormControlSelect1">
                          <h2>시간</h2></label
                      >
                      <div class="form-group">
                        <input type="time" id="startTime" /> ~
                        <input type="time" id="endTime" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 text-md-center my-6">
                <button class="btn mb-2 mr-2 btn-outline-primary" type="submit">
                  확인
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <script>
      function changeAlarm() {
        const alarmStatus = document.getElementById("alarm");

        const is_checked = alarmStatus.checked;

        if (is_checked == false) {
          document.getElementById("alarmResult").innerHTML = "알림 꺼짐";
          document.getElementById("time").style.setProperty("display", "none");
        } else {
          document.getElementById("alarmResult").innerHTML = "알림 켜짐";
          document
            .getElementById("time")
            .style.setProperty("display", "revert");
        }
      }
    </script>

    <footer class="footer py-6 bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 mb-3 mb-xl-0">
            <img
              src="../assets/img/brand/light.svg"
              height="30"
              class="mb-3"
              alt="Spaces logo"
            />
            <p>Premium Bootstrap Directory Listing Template</p>
          </div>
          <div class="col-6 col-xl-2 mb-5 mb-xl-0">
            <span class="h5">Themesberg</span>
            <ul class="footer-links mt-2">
              <li>
                <a target="_blank" href="https://themesberg.com/blog">Blog</a>
              </li>
              <li>
                <a target="_blank" href="https://themesberg.com/products"
                  >Products</a
                >
              </li>
              <li>
                <a target="_blank" href="https://themesberg.com/about"
                  >About Us</a
                >
              </li>
              <li>
                <a target="_blank" href="https://themesberg.com/contact"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
          <div class="col-6 col-xl-3 mb-5 mb-xl-0">
            <span class="h5">Other</span>
            <ul class="footer-links mt-2">
              <li>
                <a
                  href="https://themesberg.com/docs/spaces/getting-started/overview/"
                  >Documentation
                  <span class="badge badge-sm badge-secondary ml-2"
                    >v3.0</span
                  ></a
                >
              </li>
              <li>
                <a
                  href="https://themesberg.com/docs/spaces/getting-started/changelog/"
                  >Changelog</a
                >
              </li>
              <li>
                <a target="_blank" href="https://themesberg.com/contact"
                  >Support</a
                >
              </li>
              <li>
                <a target="_blank" href="https://themesberg.com/licensing"
                  >License</a
                >
              </li>
            </ul>
          </div>
          <div class="col-12 col-xl-4 mb-5 mb-xl-0">
            <span class="h5">Get the app</span>
            <p class="text-muted font-small mt-2">
              It's easy. Just select your device.
            </p>
            <a href="#" class="btn btn-sm btn-white mb-xl-0 mr-2">
              <span class="d-flex align-items-center">
                <span class="icon icon-brand mr-2"
                  ><span class="fab fa-apple"></span
                ></span>
                <span class="d-inline-block text-left">
                  <small class="font-weight-normal d-block">Available on</small>
                  App Store
                </span>
              </span>
            </a>
            <a href="#" class="btn btn-sm btn-white">
              <span class="icon icon-brand mr-2"
                ><span class="fab fa-google-play"></span
              ></span>
              <span class="d-inline-block text-left">
                <small class="font-weight-normal d-block">Available on</small>
                Google Play
              </span>
            </a>
          </div>
        </div>
        <hr class="my-3 my-lg-5" />
        <div class="row">
          <div class="col mb-md-0">
            <a
              href="https://themesberg.com"
              target="_blank"
              class="d-flex justify-content-center"
            >
              <img
                src="../assets/img/themesberg.svg"
                height="25"
                class="mb-3"
                alt="Themesberg Logo"
              />
            </a>
            <div
              class="d-flex text-center justify-content-center align-items-center"
              role="contentinfo"
            >
              <p class="font-weight-normal font-small mb-0">
                Copyright © Themesberg <span class="current-year">2023</span>.
                All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </bodys>
</html>